@import "tailwindcss";

html {
  overflow: hidden;
}

body {
  background: #ffffff;
  color: #000000;
  font-family: Helvetica, sans-serif;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
