@import "tailwindcss";

body {
  background: #ffffff;
  color: #000000;
  font-family: Helvetica, sans-serif;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

*::selection {
  background: transparent !important;
  border: none !important;
  outline: none !important;
}

main {
  animation: 0.5s fadeIn ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
